@import "tailwindcss";


@theme {
    --color-brand-primary: #1e22aa;
    --color-bg-main: #ffffff;
    --color-bg-card: #ffffff;
    --color-content-base: #6b7280;
    --color-border: #e5e7eb;
}

@custom-variant dark (&:where([data-theme=Dark], [data-theme=dark] *));

[data-theme="dark"] {
    --color-bg-main: #141517;
    --color-bg-card: #1e1f21;
    --color-content-base: #dde1e7;
    --color-border: #374151;
}


@layer base {
    h1 {
        @apply text-2xl font-semibold;
    }
    
    h2 {
        @apply text-xl font-semibold;
    }
}

@layer components {
    .sideBarItemAnimation {
        @apply lg:whitespace-nowrap lg:max-w-0 lg:opacity-0 transition-all duration-500 ease-in-out group-hover:max-w-[200px] group-hover:opacity-100;
    }
}